# This looks weird, but we need the '-e' so `pip freeze` works properly.
# We could directly refer to a commit here, but we probably shouldn't merge unstable features into master, anyway.
# If you are not logged into GitHub while running this command, you may need to install the package manually
# Reference Link: https://docs.readthedocs.io/en/stable/guides/private-python-packages.html
-e git+https://github.com/heidmic/suprb@rename-rule-generation#egg=suprb
# If the following throws an error along the lines:
#
# ERROR: Could not find a version that satisfies the requirement httpstan<4.8,>=4.7 (from pystan==3.4.0->cmpbayes==1.0.0b0)
# (from versions: 2.2.0, 2.3.0, 4.0.0, 4.3.1, 4.3.2, 4.4.0, 4.4.1, 4.4.2, 4.8.0, 4.8.1, 4.8.2, 4.9.0, 4.9.1)
# ERROR: No matching distribution found for httpstan<4.8,>=4.7 (from pystan==3.4.0->cmpbayes==1.0.0b0)
#
# Update pip with "pip install -U pip" and run it again
-e git+https://github.com/dpaetzel/cmpbayes@main#egg=cmpbayes

# Other requirements
# Do not change httpstan and pystan. You are going to regret it!
httpstan==4.7.1
pystan==3.4.0
numpy~=1.21.5
scipy~=1.7.1
matplotlib~=3.4.3
seaborn~=0.11.2
scikit-learn~=1.0.1
scikit-optimize~=0.9
sklearn-genetic-opt~=0.8.0
optuna~=3.6.1
optuna-dashboard~=0.15.1
pandas~=1.3.4
mlflow~=1.26.1
joblib~=1.1.0
click~=8.0.3
setuptools~=57.0.0
baycomp~=1.0.2
tabulate~=0.8.9
ipython~=8.11.0
pyarrow==18.1.0
